<div id="embed-iframe">
  <script>
      window.onSpotifyIframeApiReady = (IFrameAPI) => {
        const element = document.getElementById('embed-iframe');
        const options = {
            uri: 'spotify:track:<%= @track_id %>'
          };
        const callback = (EmbedController) => {};
        IFrameAPI.createController(element, options, callback);
      };
  </script>
</div>
